grid-template-columns:  repeat(4, minmax(200px, 1fr));
section {
    padding: 80px 20px;
}

body {
    margin: 0;
    font-family: 'Segoe UI', 'Poppins', sans-serif;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #7f1d1d;
    color: white;
    padding: 15px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px;
}

nav a:hover {
    color: #fecaca; /* light red hover */
}

/* Hero Section */
.hero {
    background-color: #fee2e2;
    color: #7f1d1d;

    padding: 60px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.hero h1 {
    font-size: 32px;
    
}

.hero p {
    font-size: 18px;
    color: #991b1b;
}

p {
    color: #555;
    max-width: 600px;
}

/* Services Section */
.services {
    padding: 50px 20px;
    text-align: center;
}

.services h2 {
    color: #7f1d1d;
    margin-bottom: 30px;
}

.service-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 in one row */
    gap: 20px;
}

/* Card Design */
.card {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);
}
/* Placeholder */
.image-placeholder {
    width: 100%;
    height: 150px;
    background: #fee2e2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7f1d1d;
    border-radius: 8px;
    margin-bottom: 10px;
}

.contact {
    background-color: #fee2e2;
    padding: 40px 20px;
    text-align: center;
}

.contact h2 {
    color: #7f1d1d;
    margin-bottom: 20px;
}

.contact p {
    font-size: 16px;
    margin: 8px 0;
}

.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    padding: 12px 18px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: #7f1d1d;
    color: white;
    text-align: center;
    padding: 15px;
}

.card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}
.card img {
    height: 180px; /* increase size */
}

@media (max-width: 900px) {
    .service-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .service-container {
        grid-template-columns: 1fr;
    }
}

html {
    scroll-behavior: smooth;
}


.services, .gallery, .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why {
    padding: 50px 20px;
    text-align: center;
}

.why h2 {
    color: #c2410c;
    margin-bottom: 30px;
}

.why-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.why-box {
    background: #fff7ed;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.why-box:hover {
    transform: translateY(-5px);
}

.gallery {
    padding: 60px 20px;
    text-align: center;
}

.gallery h2 {
    color: #c2410c;
    margin-bottom: 10px;
}

.gallery p {
    color: #7c2d12;
    margin-bottom: 30px;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.gallery-box {
    height: 200px;
    background-color: #fed7aa;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #7c2d12;
    font-size: 14px;

    transition: 0.3s;
    cursor: pointer;
}

.gallery-box:hover {
    transform: scale(1.05);
}

.gallery-box {
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.gallery-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


